body {
    margin-top: 70px;
    background: #333;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.card {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}






    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    